

/*
Colours used:
Primary: #000000 Black
Secondary or Heading 1 - #B77b36
Buttons - #b8860b
Background Colour - #F5F5F5
*/


body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: 'Bodoni Moda', sans-serif;
  font-size:2.5em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-family: 'Bodoni Moda', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  font-style: italic;
}
h3 {
font-family: 'Bodoni Moda', sans-serif;
font-size: 1.75em;
font-weight: 400;
font-style: italic;
text-decoration: underline;
}
h4 {
  ont-family: 'Bodoni Moda', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #B77b36;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: ##b8860b;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #B77b36;
}
a:active { /* selected link */
  color: #b8860b;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #B77b36;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #B77b36; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#relevant-skill .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#hero h1 {
  text-align: center; /* Centers text */
}
.logo {
  max-width: 250px;
}
header {
  background-color: #000000;
  text-align: center;
  padding: 10px 0;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
#hero {
  background-color: #B77b36;
}
#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}
main {
  padding-top: 133px;
}
footer {
  background-color: #000000;
  color: "white";
  text-align: center;
  padding: 10px 0;
}
