

/*
Colours used:
Primary: #000000 Black
Secondary or Heading 1 - #B77b36
Background Colour - #F5F5F5
*/
body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: 'Bodoni Moda', sans-serif;
  font-size:2.5em;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-family: 'Bodoni Moda', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  font-style: italic;
}
h3 {
font-family: 'Bodoni Moda', sans-serif;
font-size: 1.75em;
font-weight: 400;
font-style: italic;
text-decoration: underline;
}
h4 {
  ont-family: 'Bodoni Moda', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #ff7f50;
}
a:active { /* selected link */
  color: #994c30;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
